<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>dao.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <display-name>quizz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FacultyLogin</display-name>
    <servlet-name>FacultyLogin</servlet-name>
    <servlet-class>servlets.FacultyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLogin</servlet-name>
    <url-pattern>/FacultyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>quiz</display-name>
    <servlet-name>quiz</servlet-name>
    <servlet-class>servlets.quiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quiz</servlet-name>
    <url-pattern>/quiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>takeQuiz</display-name>
    <servlet-name>takeQuiz</servlet-name>
    <servlet-class>servlets.takeQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeQuiz</servlet-name>
    <url-pattern>/takeQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stud_result</display-name>
    <servlet-name>stud_result</servlet-name>
    <servlet-class>servlets.stud_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stud_result</servlet-name>
    <url-pattern>/stud_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>faculty_result</display-name>
    <servlet-name>faculty_result</servlet-name>
    <servlet-class>servlets.faculty_result</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faculty_result</servlet-name>
    <url-pattern>/faculty_result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>faculty_result_home</display-name>
    <servlet-name>faculty_result_home</servlet-name>
    <servlet-class>servlets.faculty_result_home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faculty_result_home</servlet-name>
    <url-pattern>/faculty_result_home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generatedQuiz</display-name>
    <servlet-name>generatedQuiz</servlet-name>
    <servlet-class>servlets.generatedQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generatedQuiz</servlet-name>
    <url-pattern>/generatedQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>faculty_home</display-name>
    <servlet-name>faculty_home</servlet-name>
    <servlet-class>servlets.faculty_home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faculty_home</servlet-name>
    <url-pattern>/faculty_home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stud_home</display-name>
    <servlet-name>stud_home</servlet-name>
    <servlet-class>servlets.stud_home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stud_home</servlet-name>
    <url-pattern>/stud_home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stud_result_home</display-name>
    <servlet-name>stud_result_home</servlet-name>
    <servlet-class>servlets.stud_result_home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stud_result_home</servlet-name>
    <url-pattern>/stud_result_home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>servlets.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
</web-app>