<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>dao.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <display-name>quizz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FacultyLogin</display-name>
    <servlet-name>FacultyLogin</servlet-name>
    <servlet-class>servlets.FacultyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLogin</servlet-name>
    <url-pattern>/FacultyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>quiz</display-name>
    <servlet-name>quiz</servlet-name>
    <servlet-class>servlets.quiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quiz</servlet-name>
    <url-pattern>/quiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>takeQuiz</display-name>
    <servlet-name>takeQuiz</servlet-name>
    <servlet-class>servlets.takeQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeQuiz</servlet-name>
    <url-pattern>/takeQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generateQuiz</display-name>
    <servlet-name>generateQuiz</servlet-name>
    <servlet-class>servlets.generateQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateQuiz</servlet-name>
    <url-pattern>/generateQuiz</url-pattern>
  </servlet-mapping>
</web-app>